- breadcrumb :profile
= render 'items/header_guide'
= render 'shared/breadcrumbs'
%main.mypage-container.clearfix
  = render 'users/mypage/side'

  .profile
    .profile__contener
      %h2.bold プロフィール
    = form_with url: '#', class: 'profile__greeting' do |f|
      .profile__greeting
        .profile__greeting__icon
          %figure
            = image_tag "/sample-avatar.jpg"
          = f.text_field :nickname ,value: current_user.nickname, placeholder:"#{current_user.nickname}", class:"input-box"

      .profile__sentence
        = f.text_area :introduction, placeholder: "例）こんにちは☆ テックエキスパー子です！ピンク中心に出品しています。楽しくプログラミングできるように心がけています。お気軽にどうぞ♪"

        .profile__sentence__change_content
          = f.button "変更する",type: 'submit', class: 'btn-default'

  = render 'items/footer_btn'

= render 'items/footer'